!!! 5
%html{lang: "en"}
  %head
    - if partner.seo_title
      - current_page.data.title = partner.seo_title
    - else
      - current_page.data.title = partner.title  
    - if partner.description
      - current_page.data.description = partner.description
    - else 
      - current_page.data.description = partner.cover_description
    - if partner.twitter_image
      - current_page.data.twitter_image = partner.twitter_image
    - if partner.canonical_path
      - current_page.data.canonical_path = partner.canonical_path
    = stylesheet_link_tag 'slippers-preflight.css'
    = partial "includes/layout/head"
  %body#featured_partners
    = partial "includes/google/gtm"
    = partial "includes/layout/header"
    = yield
    = partial "includes/layout/footer"
